extends ../main/panel

block variables
  //jsf
  - var heading = "JS Fuck";
  - var linkURL = "http://www.jsfuck.com/";
  - var paragraph = "JSFuck is an esoteric and educational programming style based on the atomic parts of JavaScript. It uses only six different characters to write and execute code. It does not depend on a browser, so you can even run it on Node.js.";

block code
  .code-cont(style="padding: 0px;")
    textarea#jsf-code(style="padding: 10px; box-sizing: border-box;resize: none; border-radius: 25px; font-size: 24px; margin:0; width:500px; height: 500px; ") alert(1)

block caption1
  button.btn-code.btn-right(onclick="$('#jsf-compiled').val(window.JSFuck.encode($('#jsf-code').val(), true, false));") CONVERT TO JSFUCK

block output
  .code-cont(style="padding: 0px;")
    textarea#jsf-compiled(style="padding: 10px; box-sizing: border-box;resize: none; border-radius: 25px; font-size: 19.8px; margin:0; width:500px; height: 500px; ") [][(![]+[])[+[]]+(![]+[])[!+[]+!+[]]+(![]+[])[+!+[]]+(!![]+[])[+[]]][([][(![]+[])[+[]]+(![]+[])[!+[]+!+[]]+(![]+[])[+!+[]]+(!![]+[])[+[]]]+[])[!+[]+!+[]+!+[]]+(!![]+[][(![]+[])[+[]]+(![]+[])[!+[]+!+[]]+(![]+[])[+!+[]]+(!![]+[])[+[]]])[+!+[]+[+[]]]+([][[]]+[])[+!+[]]+(![]+[])[!+[]+!+[]+!+[]]+(!![]+[])[+[]]+(!![]+[])[+!+[]]+([][[]]+[])[+[]]+([][(![]+[])[+[]]+(![]+[])[!+[]+!+[]]+(![]+[])[+!+[]]+(!![]+[])[+[]]]+[])[!+[]+!+[]+!+[]]+(!![]+[])[+[]]+(!![]+[][(![]+[])[+[]]+(![]+[])[!+[]+!+[]]+(![]+[])[+!+[]]+(!![]+[])[+[]]])[+!+[]+[+[]]]+(!![]+[])[+!+[]]]((![]+[])[+!+[]]+(![]+[])[!+[]+!+[]]+(!![]+[])[!+[]+!+[]+!+[]]+(!![]+[])[+!+[]]+(!![]+[])[+[]]+([][(![]+[])[+[]]+(![]+[])[!+[]+!+[]]+(![]+[])[+!+[]]+(!![]+[])[+[]]]+[])[+!+[]+[!+[]+!+[]+!+[]]]+[+!+[]]+([+[]]+![]+[][(![]+[])[+[]]+(![]+[])[!+[]+!+[]]+(![]+[])[+!+[]]+(!![]+[])[+[]]])[!+[]+!+[]+[+[]]])()

block caption2
  button.btn-code(onclick="[]['filter']['constructor']($('#jsf-compiled').val())();") RUN JAVASCRIPT
  script(src="/library/jsf/jsf.js")