html, body{
	font-family: 'Courier New'; 
	color: #DE8C5A;
}

.panel-cont{
	background-color: #F5F3F2;
	/* position: ab; */
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 10vh 10vw;
	box-sizing: border-box;
	border: 0;
}

.panel{
	float: left; 
	width: 80vw; 
	height: 80vh; 
	background-color: #42484A; 
    box-sizing: border-box; 
	padding: 40px 80px 80px 80px; 
	box-shadow: 20px 20px 10px #8F858F;
	display: flex;
	flex-direction: column;
}

.col-cont{
	display: flex;
	flex-direction: row;
	width:100%;
	height:100%;
	flex:1;
	min-height: 0;
}

.col{
	height: 100%;
	flex: 1;
	min-width: 0;
	
}

.code-cont{
	background: #F5F3F2;
	width: 500px;
	height: 500px;
	padding: 4px;
	box-sizing: border-box;
	border-radius: 25px;
}

.code{
	width: 100%;
	height: 100%;
	overflow:hidden;
    font-family: "Source Code Pro", Consolas, monospace;
	margin: 0px;
	color: #9D6457;
	counter-reset: line-numbering;
    white-space: pre;
    overflow-x: auto;
    word-break: inherit;
    word-wrap: inherit;
    line-height: 1.11;
    font-variant-ligatures: common-ligatures;
}

/*Text style*/

h1{
	font-size: 42px;
	margin-bottom: 0px;
}

h2{
	margin-top: 0px;
	display: inline;
	width: fit-content;
	font-size: 24px;
	font-weight: normal;
	padding-right: 6px;
}

.link-cont{
	display:flex; 
	flex-direction: row;
}

.link{
	font-size: 24px;
	font-weight: normal;
	width: fit-content;
	float: left;
	padding-top: 5px;
}

.link:hover{
	color:#F5F3F2;
	text-decoration: underline;
}

p{
	font-family: 'Courier New';
	font-size: 18px;
}
