
:root{
	--color-nav: #29292b;
	--color-nav-shadow: rgb(61, 61, 61);

	--color-nav-text: #ffffff;
	--color-nav-text-hover: #ffb23d;

	--font-nav: 'Courier New';

	--nav-height: 100px;
}

.nav-cont{
	width: 100%;
	height: var(--nav-height);
	position: fixed; 
	z-index: 100; 
}

.nav-cont:hover  > nav{
	bottom: 0%;
	opacity: 1;
}

nav{
	background-color: var(--color-nav); 
	color: var(--color-nav-text);
	box-shadow: 0px -15px 30px 30px var(--color-nav-shadow);
	position:relative;
	width: 100%;
	height: var(--nav-height);
	bottom: 100%;
	box-sizing: border-box;
	opacity: 0;
	transition: bottom 0.3s, opacity 0.3s;
	font-family: var(--font-nav);
}

nav > *{
	padding: 0px 20px;
	width: fit-content;
	float: left;
	line-height: var(--nav-height); 
	text-align: center;
	height: var(--nav-height);
	box-sizing: border-box;
	margin: 0px;
	word-spacing: -10px;
}

nav > *:hover{
	color: var(--color-nav-text-hover);
}