html body{
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    overflow:hidden;
}

.scroll-cont::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.scroll-cont{
    position: fixed;
    height: 100%;
    width: 100%;
}

.scroll-cont-right{
    overflow-x: scroll;
    overflow-y: hidden;
}

.scroll-cont-down{
    overflow-x: hidden;
    overflow-y: scroll;
}

.scroll-cont-left{
    overflow-x: scroll;
    overflow-y: hidden;
}

.scroll-cont-up{
    overflow-x: hidden;
    overflow-y: scroll;
}

.cont-right{
    width: 200%;
    height: 100%;
}

.cont-down{
    width: 100%;
    height: 200%;
}

.cont-left{
    width: 200%;
    height: 100%;
}

.cont-up{
    width: 100%;
    height: 200%;
    display: flex;
    flex-direction: column-reverse;
}


.item-right{
    width: 50%;
    height:100%;
    float: left;
}

.item-down{
    width: 100%;
    height:50%;
    float: left;
}

.item-left{
    width: 50%;
    height:100%;
    float: right;
}

.item-up{
    width: 100%;
    height:100%;
}

.item-cont{
    float: left;
    width: 100%;
    height: 100%;
}
