extends suggestion_panel

block variables
  //end_panel
  - var heading = "You have reached the end!!!";
  - var paragraph = "Please make a suggestion to add to our database. Our website only will grow with user suggestions. Put a link to your's or another project below and we will take a look at it. ";
