extends suggestion_panel

block variables
  //end_panel
  - var heading = "You have reached the end!!!";
  - var paragraph = "Please make a suggestion to add to our database. Our website will only grow with your suggestions. Put a link to your's or another's project below and we will take a look at it. ";
