
doctype html
html
  head
    meta(name="viewport" content="width=1280")
    Title=Labyrinthine
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://code.jquery.com/ui/1.10.4/jquery-ui.js")
    script(src="//code.jquery.com/mobile/1.5.0-alpha.1/jquery.mobile-1.5.0-alpha.1.min.js")
    link(rel="stylesheet" href="/stylesheets/scroll.css")
    link(rel="stylesheet" href="/stylesheets/format.css")
    link(rel="stylesheet" href="/stylesheets/navbar.css")
    script(src="/javascripts/main.js")
  body
    include navbar
    .scroll-cont
      .cont
        .item#item-1
          .item-cont
        .item#item-2
          .item-cont
    