
doctype html
html
  head
    Title=Labyrinthine
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://code.jquery.com/ui/1.10.4/jquery-ui.js")
    link(rel="stylesheet" href="/stylesheets/scroll.css")
    link(rel="stylesheet" href="/stylesheets/format.css")
    script(src="/javascripts/main.js")
  body
    //- include ../library/torus
    .scroll-cont
      .cont
        .item#item-1
          .item-cont
        .item#item-2
          .item-cont
    