
doctype html
html
  head
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    link(rel="stylesheet" href="/stylesheets/scroll.css")
    link(rel="stylesheet" href="/stylesheets/format.css")
    script(src="/javascripts/main.js")
  body
    include panel
    