

.nav-cont
	nav()
		h1(style="padding-left: 100px;") Labyrinthine
		h2(style="float: right; padding-right: 100px;") About
		h2(style="float: right; ") Suggestion
		h2(style="float: right; ") Back To Top
