
block variables

.panel-cont
  .panel
    h1=heading
    .link-cont
      h2 &#x1F517;
      h2.link(onclick='window.open("' + linkURL + '", "_blank");') Source Location
    p(style="margin-top: 0px;")=paragraph
    .col-cont
      .col
        svg.svg-left(width="100%" height="100%" viewBox="0 0 500 500" preserveAspectRatio="xMaxYMax meet" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
          foreignObject(width="500px" height="500px" xmlns="http://www.w3.org/1999/xhtml")
            div(xmlns="http://www.w3.org/1999/xhtml" style="width:500px; height:500px;")
              block code
        block caption1
      .arrow
        h1 ->
      .col
        svg.svg-right(width="100%" height="100%" viewBox="0 0 500 500" preserveAspectRatio="xMinYMax meet" style="display: block;" xmlns="http://www.w3.org/2000/svg")
          foreignObject(width="500px" height="500px")
            div(xmlns="http://www.w3.org/1999/xhtml" style="width:500px; height:500px;")
              //img(src="/images/test.jpg" style="border-radius: 25px;height:500px; width:500px;")
              block output
        block caption2
      