//start_panel

.panel-cont
  .panel
    div(style="padding-top: 100px; text-align: center;")
      h1(style="font-size: 8vw;") Welcome to Labyrinthine
      p(style="margin-top: 10px; font-size: 24px;") Scroll down to see cool coding projects!
      