block variables

.panel-cont
  .panel
    h1=heading
    p(style="margin-top: 0px;")=paragraph
    form
      label(for="suggestion-content")
      br
      textarea#suggestion-content(cols="50", rows="10", style="resize: none; border-radius: 10px; padding: 10px;", maxlength="500", placeholder="Enter a suggestion here!")
      br
      button() SUBMIT SUGGESTION
